@font-face{
	font-family:'Antonio';
	src:url('../fonts/Antonio-Regular.ttf');
}
@font-face{
	font-family:'Aller';
	src:url('../fonts/Aller_rg.ttf');
}
body{
	margin: 1px;
}
#imagen{
	float: left;
}
#datos_autor{
	font-family:'Antonio-Regular';
	font-size: 16px;
	float: right;
}
#autores{
	width: 47%;
	float: right;
	vertical-align: center;

}
#btnMostrar{
background-color:#48990f;
color: #ffffff;
font-family:'Aller';
}
#btnOcultar{
background-color:red;
color: #ffffff;
font-family:'Aller';
}
#botones{
	width: 100%;
	padding-left: 100px;
}
#jbt_info{
	padding: 10px 10px 10px 10px;
	margin-left: 85px;
	margin-right: 85px;
	

}
#jbt_descripcion{
	padding: 10px 10px 10px 10px;
	margin-left: 85px;
	margin-right: 85px;

}
#descripcion{
		font-size: 16px;
}